@import "color.css";

.Container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows:  0.4fr 0.6fr 6fr 1fr;
    grid-template-areas:
    ". nav nav ."
    ". header header ."
    ". main sidbar ." 
    ". footer footer .";
}
header{
    grid-area: header;
    background-color: var(--primary-color);
    text-align: center;
}
.navbar{
    grid-area: nav;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(185, 231, 193);
    padding: 0;
    margin: 0;

    overflow: hidden;
}
.navbar a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #97d697;
    transition: 1s;
}
.navbar li {
    float: left;
}
main{
    grid-area: main;
    background-color: var(--accent-color);
    padding-left: 10px
}
aside{
    grid-area: sidbar;
    background-color: var(--background-color);
}
footer{
    grid-area: footer;
    background-color: var(--text-color);
}
@media (max-width:500px){
    .Container{
        height: 100vh;
        display: grid;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ". nav ."
        ". header  ."
        ". main ." 
        ". sidbar . "
        ". footer . ";
    }
}
.flex-container-produkter{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-nya-produkter{
    width: 100px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 7px solid #6e6e6e;
    margin: 10px;
    border-radius: 17px;
    padding-inline: 5px;
 }
 #Bild_på_produkt_1{
     width: 50px;
     height: 50px;
 }
 #Bild_på_produkt_2{
     width: 50px;
     height: 50px;
 }
 #Bild_på_produkt_3{
     width: 50px;
     height: 50px;
 }
 #Bild_på_produkt_4{
     width: 50px;
     height: 50px;
 }
 #Bild_på_produkt_5{
    width: 50px;
    height: 50px;
}
#Bild_på_produkt_6{
    width: 50px;
    height: 50px;
}
#h2{
  
}